body {
    background-color: #e8e8e6;
    color: #000047;
}
.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    background-color: #ffffff;
    padding: 20px; /* Reduzido o padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px; /* Largura reduzida do formulário */
}
.btn-primary {
    background-color: #2596be;
    border-color: #2596be;
}
.btn-primary:hover {
    background-color: #1f7ca0;
    border-color: #1f7ca0;
}

.form-group {
    margin-bottom: 10px; /* Espaçamento reduzido entre campos */
}
</style>
